@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body {
    --tw-bg-opacity: 1;
    background-color: #1212122d;
}

/* Dark Mode Styles */
.dark {
    background-color: #121212; /* Dark background for the body */
    color: #e0e0e0; /* Light text color */
    
}

.dark .bg-slate-100 {
    background-color: #090101; /* Dark background for elements with this class */
}

.dark .text-gray-900 {
    color: #e0e0e0; /* Light text color */
}

/* Ensure the HTML element covers the viewport */
html, body {
    height: 100%;
}

/* You might want to set the background color for body in dark mode as well */
body.dark {
    background-color: #121212;
}
